@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto"
}

body {
	position: relative;
  min-height: 100vh;
}

main {
	padding-bottom: 30px;
}

nav {
	background-color: #ab7454;
	height: 30px;
}

.section {
	display: flex;
	justify-content: center;
}

.dark {
	background-color: #26282e;
}

.grid {
	display: grid;
	grid-auto-rows: auto;
	margin: 30px 0;
}

.heroBanner {
	grid-gap: 9rem;
	grid-template-columns: repeat(2, 2fr);
}

.article {
	width: 312px;
	color: white;
}

.article h2 {
	font-size: 30px;
}

.article p {
	font-weight: lighter;
	font-size: 12px;
	line-height: 17px;
}

video {
	width: 375px;
}

.card {
	width: 287px;
	color: white;
	background-color: #26282e;
}

img {
	width: 50%;
	float: left;
}

.profileInfo {
	float: right;
	width: 50%;
	text-align: center;
	margin-top: 20px;
	line-height: 40px;
}

.profileInfo h3, p {
	font-size: 16px;
	margin: 0;
}

.profiles {
	grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
	/*display: grid;
 
grid-template-columns: repeat(3, 1fr);
 
grid-auto-rows: auto;
 
grid-gap: 1rem;
justify-content: center;*/

}

footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 38px; 
	background-color: #26282e;
}

@media(min-width: 756px) and (max-width: 956px) {
	.heroBanner {
		grid-gap: 1rem;
	}

	.profiles {
		grid-template-columns: repeat(2, 1fr);
	}

	.card {
    width: 376px;
	}
}

@media(min-width: 300px) and (max-width: 755px) {
	.heroBanner {
		grid-gap: 1rem;
		grid-template-columns: repeat(1, 1fr);
	}

	video {
		justify-self: end;
	}

	.profiles {
		grid-template-columns: repeat(1, 1fr);
	}

	.card {
    width: 376px;
	}
}
/*
@media (min-width: 768px) {
	.heroBanner {
		flex-direction: row;
		width: 838px;
	}
	video {
		width: 312px;
	}

	.profiles {
		width: 838px;
	}

	.card {
		width: 349px;
	}

	.profileInfo {
		font-size: 14px;
	}
}

@media (min-width: 1024px) {
	.card {
		width: 349px;
	}
}*/


