@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: "Roboto"
}

body {
	position: relative;
  min-height: 100vh;
}

main {
	padding-bottom: 30px;
}

nav {
	background-color: #ab7454;
	height: 30px;
}

.section {
	display: flex;
	justify-content: center;
}

.dark {
	background-color: #26282e;
}

.heroBanner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
	gap: 16px;
}

.article {
	width: 312px;
	color: white;
}

.article h2 {
	font-size: 30px;
}

.article p {
	font-weight: lighter;
	font-size: 12px;
	line-height: 17px;
}

video {
	width: 100%;
}

.card {
	display: flex;
	width: 100%;
	color: white;
	background-color: #26282e;
}

img {
	width: 50%;
	float: left;
}

.profileInfo {
	float: right;
	width: 50%;
	text-align: center;
	margin: 39px auto;
	font-size: 12px;
	line-height: 24px;
}

.profiles {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 30px;
	gap: 10px;
}

footer {
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 38px; 
	background-color: #26282e;
}

@media (min-width: 768px) {
	.heroBanner {
		flex-direction: row;
		width: 838px;
	}
	video {
		width: 312px;
	}

	.profiles {
		width: 838px;
	}

	.card {
		width: 272px;
	}
}

@media (min-width: 1024px) {

}


